
<div class="row section-bg-white section">
	<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 title-one">
		<p class="text-center title">立即咨询</p>
		<div class="row">
			<div class="col-sm-8">
					<div class="modal-content">
						<div class="modal-body">
							<form id="form-need" class="person-form" action="{:url('index/postBusiness')}">
								<div class="form-group">
									<label for="name"><span class="txt-red">*</span>姓名</label>
									<input type="text" class="form-control" name="name" placeholder="请输入姓名">
								</div>
								<div class="form-group">
									<label for="name"><span class="txt-red">*</span>手机</label>
									<input type="text" class="form-control" name="mobile" placeholder="请输入手机号">
								</div>
								<div class="form-group">
									<label for="name">微信</label>
									<input type="text" class="form-control" name="weixin" placeholder="请输入微信号">
								</div>
								<div class="form-group">
									<label for="name">备注</label>
									<textarea name="description" rows="2" placeholder="我要咨询商务合作" class="form-control"></textarea>
								</div>
								<div class="form-group"> </div>
								<div class="text-center">
									<button id="submit" type="submit" class="btn btn-gold btn-full" style="margin-top: 10px;"> 提交需求单</button>
								</div>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>